@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
}

body {
    background: url(assets/bg-main.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: aqua;
    height: 100%;
    /* width: 100vw; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}

.box {
    height: auto;
    width: 35vw;
    background-color: beige;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: #1d1d1d 5px 10px 20px 1px;
}

.heading {
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* div>button {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.quote {
    height: auto;
    width: auto;
    margin: 2rem 20px;
    font-weight: 500;
    font-size: 20px;
    color: #1d1d1d;
    font-style: italic;
    overflow: hidden;
    animation: 3s linear 0s alternate slide-left;
}

@keyframes slide-left { 
    from {
        opacity: 0.2;
        line-height: 50px;
        margin-left: -10%;
        opacity: 0.7;
        transition: ease-in;
    }

    from {
        opacity: 1;
        line-height: 25px;
        margin-left: 30%;
        transition: ease-in;
        opacity: 0.9;
    }

    to {
        margin-left: 0%;
        transition: ease-in-out;
    }
    
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px ;
}

button {
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(90deg, yellow, red);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    box-shadow: #1d1d1d 5px 10px 20px 1px;
}

button:hover {
    transition: 0.5s ease-in-out;
    background: linear-gradient(120deg, rgb(201, 44, 70), blue);
    padding: 10px 10px;
}

@media screen and (max-width: 550px) {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: url("assets/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }

    .box {
        height: auto;
        width: 80vw;
        background-color: white;
        border-radius: 10px;
        margin: 10px;
    }

    .heading {
        text-align: center;
    }

    button {
        padding: 10px 15px;
    }
    
    .quote {
        font-size: 15px;
    }

    .container {
        margin-top: 20vh;
    }
}